bin
/ChangeGen_v2/ChangeGen_v2/obj/Debug
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Agent.Contracts.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/ChangeGen_v2.exe
/ChangeGen_v2/ChangeGen_v2/bin/Debug/ChangeGen_v2.exe.config
/ChangeGen_v2/ChangeGen_v2/bin/Debug/ChangeGen_v2.pdb
/ChangeGen_v2/ChangeGen_v2/bin/Debug/ChangeGen_v2.vshost.exe
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Common.Contracts.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Core.Client.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Core.Contracts.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/DatabaseClient.Contracts.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Gibraltar.Agent.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Logging.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Exchange.WebServices.Auth.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Exchange.WebServices.Auth.pdb
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Exchange.WebServices.Auth.xml
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Exchange.WebServices.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Exchange.WebServices.pdb
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Exchange.WebServices.xml
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Http.Extensions.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.Http.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Microsoft.IdentityModel.Extensions.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/NLog.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/O3E.Contracts.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Profiling.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/Reporting.Contracts.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/ServiceHost.Contracts.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/ServiceHost.InMemoryHosting.dll
/ChangeGen_v2/ChangeGen_v2/bin/Debug/WCFClientBase.dll
/ChangeGen_v2/.vs/ChangeGen_v2/v14/.suo
/ChangeGen_v2/ChangeGen_v2/obj/Debug/ChangeGen_v2.csproj.FileListAbsolute.txt
/ChangeGen_v2/ChangeGen_v2/obj/Debug/ChangeGen_v2.csproj.GenerateResource.Cache
/ChangeGen_v2/ChangeGen_v2/obj/Debug/ChangeGen_v2.exe
/ChangeGen_v2/ChangeGen_v2/obj/Debug/ChangeGen_v2.pdb
